@keyframes efecto {
    0%{
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
    }
    100%{
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
}

@media screen and (min-width: 270px) and (max-width: 504px){
    .galeria_item:first-of-type{
        grid-column: 1 / span 2;
    }
    .galeria{
        grid-auto-rows: 283px;
    }
}
@media screen and (max-width:1000px){
    .contenedorimag{
    width: 95%;
    }
}
@media screen and (max-width:700px){
    .contenedorimag{
    width: 90%;
    }
    .contenedorimag .imagen{
        width: 48%;
    }
}
@media (max-width: 600px){
    .column{
        flex: 50%;
    }
}
/* RESPONSIVE */

@media screen and (max-width: 1100px){
	.products-list .products-item{
		width: 30.3%;
	}
}

@media screen and (max-width: 900px){
	.category_list,
	.products-list{
		width: 100%;
	}

	.category_list{
		flex-direction: row;
		justify-content: space-between;
	}

	.category_list .category_item{
		align-self: flex-start;
		width: 15%;
		font-size: 14px;
	}

	.products-list .products-item{
		margin-left: 4.5%;
	}

	.products-list .products-item:nth-child(3n+1){
		margin-left: 0px;
	}
}

@media screen and (max-width: 700px){
	.category_list{
		flex-direction: column;
	}
	.category_list .category_item{
		width: 100%;
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 600px){

	.products-list .products-item{
		width: 47.5%;
	}

	.products-list .products-item:nth-child(3n+1){
		margin-left: 4.5%;
	}

	.products-list .products-item:nth-child(2n+1){
		margin-left: 0px;
	}

}

@media screen and (max-width: 350px){
	.products-list .products-item{
		width: 100%;
		margin-left: 0px;
	}
}

